
@font-face {
  font-family: 'SMMaxevilleTrial-Constructed';
  src: url('SMMaxevilleTrial-Constructed.eot?#iefix') format('embedded-opentype'),  url('SMMaxevilleTrial-Constructed.otf')  format('opentype'),
	     url('SMMaxevilleTrial-Constructed.woff') format('woff'), url('SMMaxevilleTrial-Constructed.ttf')  format('truetype'), url('SMMaxevilleTrial-Constructed.svg#SMMaxevilleTrial-Constructed') format('svg');
  font-weight: normal;
  font-style: normal;
}
