<!-- <div class="">
  <img class="w2" src="{{ site.baseurl }}/images/auto.svg" alt=""></img>
</div> -->

<header class="fixed w-100 bg-white">
  <nav class="bw2 bt bb b--purple dt w-100 border-box pa2 ph2-ns">
  <a class="dtc v-mid mid-gray link dim" href="#" title="Home">
    <img src="images/11.svg" class="purple pa2 w5 h3" alt="Site Name">
  </a>
  <div class="dtc v-mid w-75 tr">
    <a class="link dim dark-gray f6 f5-ns dib mr3 mr4-ns purple " href="#" title="About">About</a>
    <a class="link dim dark-gray f6 f5-ns dib mr3 mr4-ns purple " href="#" title="Store">People</a>
    <a class="link dim dark-gray f6 f5-ns dib mr3 mr4-ns purple " href="#" title="Work">Work</a>
    <a class="link dim dark-gray f6 f5-ns dib mr3 mr4-ns purple " href="#" title="News">News</a>
    <a class="link dim dark-gray f6 f5-ns dib purple " href="#" title="RHLA">RHLA</a>
  </div>
</nav>

</header>
