<!-- <div class="">
  <img class="w2" src="{{ site.baseurl }}/images/auto.svg" alt=""></img>
</div> -->

<header class="w-100  pa3 ph5-ns">
  <div class="db dt-ns mw9 center w-100">
    <div class="db dtc-ns v-mid tl w-50">
      <a href="#" class="dib f5 f4-ns mt0 mb1 link white smmax"  title="logohome"> RHODESIDE HARWELL </a>
    </div>
  </div>
  <nav class="db dtc-ns v-mid w-100 tl tr-ns mt2 mt0-ns">
  <a title=""class="f6 fw6 hover-black link white mr2 mr3-m mr4-l di" >ABOUT</title>

    <a title="Work" class="f6 fw6 hover-black link white mr2 mr3-m mr4-l di">WORK</title>
    <a title="Team" class="f6 fw6 hover-black link white mr2 mr3-m mr4-l di">TEAM</title>
    <a title="News" class="f6 fw6 hover-black link white mr2 mr3-m mr4-l di">NEWS</title>
    <a title="RHLA" class="f6 fw6 hover-black link white mr2 mr3-m mr4-l di">STUDIO RHLA</title>
    <a title="Filter" class="f6 fw6 hover-black link white mr2 mr3-m mr4-l di">FILTER</title>

  </nav>
</header>
